<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Dashboard</title>
</head>
<body>
    <form id="logoutBtn" action="/logout-user/" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <h1>Budget Dashboard</h1>
    <form method="post">
        {% csrf_token %}
        <label for="selected_date">Select Month:</label>
        <input type="date" id="selected_date" name="selected_date" value='2024-01-15'>
        <button type="button" id="addIncomeBtn">Add Income</button>
        <button type="button" id="addExpensesBtn">Add Expenses</button>
        <button type="button" id="viewBudgetBtn" style="display: none;">View Budget</button>
    </form>

    <form id="incomeForm" action="/add-income/" method="post" style="display: none;">
        <br>
        {% csrf_token %}
        <label for="income_amount">Enter Income Amount:</label>
        <input type="text" name="income_amount" id="income_amount">
        <input type="hidden" name="incomeYear" id="income_year">
        <input type="hidden" name="incomeMonth" id="income_month">
        <input type="hidden" name="incomeDate" id="income_date">
        <button type="submit">Add Income</button>
    </form>

    <form id="expensesForm" action="/add-expenses/" method="post" style="display: none;">
        <br>
        {% csrf_token %}
        <label for="expenses_amount">Enter Income Amount:</label>
        <input type="text" name="expenses_amount" id="expenses_amount">
        <input type="hidden" name="incomeDate" id="expenses_date">
        <button type="submit">Add Expenses</button>
    </form>

    <h2 id="budgetDetailsTitle"></h2>
    <div id="budgetDetails">
        <p id="income"></p>
        <p id="expenses"></p>
        <p id="remaining"></p>
    </div>

    <script>
        const months = [
            "January", "February", "March", "April", "May", "June", 
            "July", "August", "September", "October", "November", "December"
        ];
        
        let dateValue = document.getElementById("selected_date").value
        let date = new Date(dateValue  + 'T00:00:00')
        let year = date.getFullYear()
        let month = date.getMonth() + 1
        let monthName = months[date.getMonth()]
        let day = date.getDate()

        window.onload = function() {
            document.getElementById("viewBudgetBtn").click();
        }   

        document.getElementById("budgetDetailsTitle").innerHTML = `Budget Details for ${monthName}`;
        document.getElementById("selected_date").addEventListener("change", function() {
            document.getElementById("viewBudgetBtn").click();
        })

        document.getElementById("viewBudgetBtn").addEventListener("click", function() {
            document.getElementById("budgetDetailsTitle").innerHTML = ``;
            document.getElementById("budgetDetailsTitle").innerHTML += `Budget Details for ${monthName}`;
            fetch(`/get-budget?year=${year}&month=${month}&day=${day}`)
            .then(response => response.json())
            .then(data => {
                if(data.error == 'no budget set'){
                    document.getElementById("budgetDetailsTitle").innerHTML = `No Income for ${monthName} Has Been set`;
                    document.getElementById("budgetDetails").style.display = "none";
                }
                else{
                    let incomeTotal = 0, expenseTotal = 0;
                    data.forEach(budget => {
                        console.log(parseFloat(budget.income))
                        incomeTotal += parseFloat(budget.income)
                        expenseTotal += parseFloat(budget.expenses)
                    });
                    console.log(incomeTotal, expenseTotal)
                    document.getElementById("income").innerHTML = `Income: $${incomeTotal}`;
                    document.getElementById("expenses").innerHTML = `Expenses: $${expenseTotal}`;
                    var remainingBudget = incomeTotal - expenseTotal;
                    document.getElementById("remaining").innerHTML = `Remaining Budget: $${remainingBudget}`;
                    document.getElementById("budgetDetails").style.display = "block";
                }
            })
            .catch(error => {
                    console.log(error)
            });
        });


        document.getElementById("addIncomeBtn").addEventListener("click", function() {
            if (month !== "") {
                document.getElementById("income_year").value = `${year}`;
                document.getElementById("income_month").value = `${month < 10 ? '0' + month : month}`;
                document.getElementById("income_date").value = `${day}`;
                document.getElementById("incomeForm").style.display = "block";
            } else {
                alert("Please select a month first.");
            }
        });

        document.getElementById("addExpensesBtn").addEventListener("click", function() {
            if (month !== "") {
                document.getElementById("income_date").value = `${year} ${month < 10 ? '0' + month : month} ${day}`;
                document.getElementById("expensesForm").style.display = "block";
            } else {
                alert("Please select a month first.");
            }
        });
    </script>
</body>
</html>
